<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-photos"
        version="1.0.8">

	<name>Photos</name>
	<keywords>cordova, camera, file, exif, geo, location, geolocation, tag</keywords>

	<dependency id="cordova-plugin-compat" version="^1.0.0" />

	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>

	<js-module src="www/Photos.js" name="Photos">
		<clobbers target="Photos"/>
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Photos">
				<param name="android-package" value="com.domax.cordova.Photos"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		</config-file>

		<source-file src="src/android/Photos.java" target-dir="src/com/domax/cordova"/>
	</platform>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="Photos">
				<param name="ios-package" value="CDVPhotos"/>
			</feature>
		</config-file>
		<header-file src="src/ios/CDVPhotos.h"/>
		<source-file src="src/ios/CDVPhotos.m"/>
		<framework src="Photos.framework"/>
	</platform>

</plugin>
